ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM

MESSAGE-SQUARE
    PIPE
PIPE
    END-POINT 0 0 0 100
    END-POINT 1000 0 0 100

MESSAGE-SQUARE
    BEND
BEND
    END-POINT 1000 0 0 100
    END-POINT 1000 100 0 100
    COMPONENT-ATTRIBUTE1 BEND_TEST

MESSAGE-SQUARE
    FLANGE
FLANGE
    END-POINT 1000 100 0 100
    END-POINT 1000 150 0 100
