ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM

MESSAGE-SQUARE
    PIPE
PIPE
    END-POINT 0 0 0 200
    END-POINT 2000 0 0 200

MESSAGE-SQUARE
    OLET X 1000.0 Y 0 Z 0
OLET
    END-POINT 1000 0 0
    BRANCH1-POINT 1000 50 0

MESSAGE-SQUARE
    PIPE
PIPE
    END-POINT 1000 50 0 50
    END-POINT 1000 1000 0 50
