ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
PIPELINE-REFERENCE TEST-SYS-001
REVISION 0

PIPE
    END-POINT  0.0 0.0 0.0  150
    END-POINT  1000.0 0.0 0.0  150
    FABRICATION-ITEM
    ITEM-CODE PIPE-1
PIPE
    END-POINT  1000.0 0.0 0.0  150  // Fix: Multiaxis gap aligned to previous pipe vector
    END-POINT  1990.0 -20.0 -15.0  150
    FABRICATION-ITEM
    ITEM-CODE PIPE-2
FLANGE
    END-POINT  1990.0 -20.0 -15.0  150
    END-POINT  2040.0 -20.0 -15.0  150
    ITEM-CODE FLG-1
VALVE
    END-POINT  2040.0 -20.0 -15.0  150  // Fix: 60mm gap closed by moving rigid block backwards
    END-POINT  2340.0 -20.0 -15.0  150
    ITEM-CODE VAL-1
FLANGE
    END-POINT  2340.0 -20.0 -15.0  150
    END-POINT  2390.0 -20.0 -15.0  150
    ITEM-CODE FLG-2
PIPE
    END-POINT  2390.0 -20.0 -15.0  150
    END-POINT  2930.0 -20.0 -15.0  150
    ITEM-CODE PIPE-3
ELBOW
    END-POINT  2930.0 -20.0 -15.0  150
    END-POINT  2930.0 -140.0 -15.0  150
    CENTRE-POINT  2930.0 -20.0 -15.0
    ITEM-CODE ELB-1
PIPE
    END-POINT  2930.0 -140.0 -15.0  150
    END-POINT  2930.0 -1040.0 -15.0  150
    ITEM-CODE PIPE-4
FLANGE
    END-POINT  2930.0 -1040.0 -15.0  150
    END-POINT  2930.0 -1090.0 -15.0  150
    ITEM-CODE FLG-3
CAP
    END-POINT  2930.0 -1090.0 -15.0  150
    ITEM-CODE CAP-1
