ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
PIPELINE-REFERENCE TEST-SYS-001
REVISION 0

PIPE
    END-POINT  0.0 0.0 0.0  200
    END-POINT  1000.0 0.0 0.0  200
    ITEM-CODE PIPE-1
TEE
    END-POINT  1000.0 0.0 0.0  200
    END-POINT  1200.0 0.0 0.0  200
    CENTRE-POINT  1100.0 0.0 0.0  // Fix: Recalculated CP
    BRANCH1-POINT  1100.0 100.0 0.0  100  // Fix: Reconstructed BP and Bore inferred from Branch Pipe
    ITEM-CODE TEE-1
REDUCER
    END-POINT  1100.0 100.0 0.0  200  // Fix: Injected missing reducer
    END-POINT  1100.0 200.0 0.0  100
    ITEM-CODE RED-1
PIPE
    END-POINT  1100.0 200.0 0.0  100
    END-POINT  1100.0 1000.0 0.0  100
    ITEM-CODE PIPE-3
VALVE
    END-POINT  1100.0 1000.0 0.0  100
    END-POINT  1100.0 1300.0 0.0  100
    ITEM-CODE VAL-1
PIPE
    END-POINT  1100.0 1300.0 0.0  100
    END-POINT  1100.0 2000.0 0.0  100
    ITEM-CODE PIPE-4
FLANGE
    END-POINT  1100.0 2000.0 0.0  100
    END-POINT  1100.0 2050.0 0.0  100
    ITEM-CODE FLG-2
CAP
    END-POINT  1100.0 2050.0 0.0  100
    ITEM-CODE CAP-2
PIPE
    END-POINT  1200.0 0.0 0.0  200
    END-POINT  2000.0 0.0 0.0  200
    ITEM-CODE PIPE-2
FLANGE
    END-POINT  2000.0 0.0 0.0  200
    END-POINT  2050.0 0.0 0.0  200
    ITEM-CODE FLG-1
CAP
    END-POINT  2050.0 0.0 0.0  200
    ITEM-CODE CAP-1
