ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
PIPELINE-REFERENCE TEST-SYS-001
REVISION 0

PIPE
    END-POINT  0.0 0.0 0.0  200
    END-POINT  2000.0 0.0 0.0  200
    ITEM-CODE PIPE-1
OLET
    END-POINT  1000.0 0.0 0.0  // Missing Bore
    END-POINT  1000.0 100.0 0.0  // Missing Bore
    // Missing CENTRE-POINT
    ITEM-CODE OLET-1
    MESSAGE-SQUARE X 1000.0 Y 0 Z 0 // Corrupted syntax
PIPE
    END-POINT  1000.0 100.0 0.0  50
    END-POINT  1000.0 500.0 0.0  50
    ITEM-CODE PIPE-2
VALVE
    END-POINT  1000.0 500.0 0.0  50
    END-POINT  1000.0 700.0 0.0  50
    ITEM-CODE VAL-1
PIPE
    END-POINT  1000.0 700.0 0.0  50
    END-POINT  1000.0 1000.0 0.0  50
    ITEM-CODE PIPE-3
FLANGE
    END-POINT  1000.0 1000.0 0.0  50
    END-POINT  1000.0 1050.0 0.0  50
    ITEM-CODE FLG-1
GASKET
    END-POINT  1000.0 1050.0 0.0  50
    END-POINT  1000.0 1055.0 0.0  50
    ITEM-CODE GSK-1
FLANGE
    END-POINT  1000.0 1055.0 0.0  50
    END-POINT  1000.0 1105.0 0.0  50
    ITEM-CODE FLG-2
PIPE
    END-POINT  1000.0 1105.0 0.0  50
    END-POINT  1000.0 1500.0 0.0  50
    ITEM-CODE PIPE-4
CAP
    END-POINT  1000.0 1500.0 0.0  50
    ITEM-CODE CAP-1
